* {
	box-sizing: border-box;
}

.post {

}
.grey {
	color: #D2D2D2;
}

* {
	font-family: 'Lato', sans-serif;
}

section {
	width: 70%;
	float: left;
}

aside {
	width: 30%;
	float: left;
}

.headernav {
	padding: 25px;
	width: 100%;
}

.clearfix: after {
	content: "";
	display: table;
	clear: both;
}